/* Re-organized */

    h1.title {
        display: inline-block; 
        color: #fefefe
    }

    body {
        font-family: 'Noto Sans TC', sans-serif;
        font-size: '20px';
        margin-left: 3%;
        margin-right: 3%;
        color: #666666; 
        background-color:#111111;
        margin-left: 6%;
        margin-right: 6%;
    }

    .highlight {
        color: #cccccc;
    }

    .sub-highlight {
        color: #aaaaaa;
    }

    a {
        color: #308f3d;
        /* text-decoration: none; */
        text-decoration:underline;
        text-decoration-style: dotted;
        text-decoration-color: #308f3d;
    }

    a.hashtag {
        color: #b0d1bc;
        text-decoration: none;
        /* text-decoration:underline; */
        /* text-decoration-style: dotted; */
        /* text-decoration-color: #308f3d; */
    }
    
    a:hover {
        color: #cccccc;
        text-decoration: none;
    }

    div.info {
        width: 680px; 
        display: none; 
        border: 1px dotted #b0d1bc; 
        margin: 0px 10px 50px; 
        font-size: small; 
        padding: 10px; 
        color: #6e7e79
    }

    span.question-mark {
        font-size: small; 
        color: #b0d1bc; 
        text-decoration: none; 
        vertical-align: super; 
        border: 1px solid #b0d1bc; 
        cursor: pointer;
    }

    button {
        background-color: #4a84b3;
        border: none;
        color: #ffffff;
        padding: 6px 13px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-family: 'Noto Sans TC', sans-serif;
        margin: 4px 2px;
        cursor: pointer;
    }

    button.smartify {
        /* background-color: #4CAF50; */
        letter-spacing: 3px;
        color: white;
        font-size: large;
    }

    p.line {
        margin-top: 2px;
        margin-bottom: 2px;
    }

    p.line-bold {
        font-size: large;
        font-weight: 900;
        margin-top: 2px;
        margin-bottom: 2px;
    }

    button.file-selector {
        border: 0px solid #999999; 
        background-color: #555555;
        color: #cccccc;
        /* font-size: large; */
    }

    div.div-step + div.div-step {
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .div-textarea{
        width: 680px;
    }

    .div-textarea > textarea {
        width: inherit;
    }

    input {
        /* background-color: #ffffff; */
        background-color: #111111;
        color: #999999;
        border: 1px solid #999999;
        /* opacity: 0.99; */
        /* border: none; */
        padding: 4px 10px;
        margin: 4px 4px;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    textarea {
        /* appearance: none; */
        /* background-color: transparent; */
        background-color: #111111;
        color: #999999;
        border: 1px solid #999999;

        /* border: none; */
        /* padding: 0 1em 0 0; */
        padding: 4px 10px;
        /* margin: 0; */
        margin: 4px 4px;
        font-family: inherit;
        font-size: inherit;
        font-weight: lighter;
        line-height: inherit;
        /* cursor: pointer; */
    }

    div.nft-item {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
    }

    div.nft-item + div.nft-item {
        margin-top: 70px;
    }

    span.more-info {
        color: #aaaaaa;
        font-size: 9pt;
        font-weight: 100;
        text-decoration: none;
        cursor: pointer;
        /* letter-spacing: 1px; */
        /* text-decoration: underline; */
        /* text-decoration-style: dotted; */
        /* text-decoration-color: #308f3d; */
    }

    div.preview-image {
        margin-left: 30px; 
        text-align: center;
        display: inline-block;
        width: 600px;
        cursor: zoom-in;
    }

    img.preview{
        max-width: 500px; 
        max-height: 600px;
        cursor: zoom-in;
    }

    div.preview-fields {
        margin-left: 30px; 
        display: inline-block;
        width: 600px;
    }

    img.nft-item-image {
        max-height: 450px;
        max-width: 450px;
        cursor: zoom-in;
    }

    div.nft-description {
        width: 480px;
        margin: 20px auto 10px;
        text-align: justify;
        white-space: pre-wrap;
    }

    div.nft-hashtags {
        width: 480px;
        margin: 20px auto 10px;
        text-align: left;
        /* overflow-wrap: break-word; */
        white-space: pre-wrap;
    }

    div.collection-hashtags {
        white-space: pre-wrap;
        margin-top: 10px;
        margin-bottom: 10px;
    }   

    span.nftdisplay {
        display: inline-block;
        width: 240px;
        text-align: center;
        margin-left: 15px;
        margin-right: 15px;
    }

    span.nftdisplay + span.nftdisplay {
        margin-top: 45px;
    }

    /* span.imgbox > img.assets {
        vertical-align:middle;
    } */

    span.imgbox {
        display: inline-block;
        width: 240px;
        height: 240px;
    }

    img.assets {
        display: inline-block;
        height: 100%;
        margin: 5px;
        max-width:220px;
        max-height:220px;
        width: auto;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        cursor: zoom-in;
    }

    span.emptybox {
        display: inline-block;
        height: 20px;
    }

    img.transfer-sign {
        opacity: 0.3;
    }

    #div-fullpage {
        display: none;
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-size: contain;
        background-repeat: no-repeat no-repeat;
        background-position: center center;
        background-color: black;
        cursor:zoom-out;
    }
    

/* Dropdown Menu */

    .dropbtn {
        background-color: #1b547c;
        color: white;
        padding: 6px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropbtn:hover, .dropbtn:focus {
        /* background-color: #4CAF50; */
        background-color: #4a84b3;;
        /* background-color: #9ab973; */
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown a:hover {background-color: #ddd;}

    .show {display: block;}

    